*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: grid;
    grid-template-rows: 220px 220px;
    grid-template-columns: 200px 200px;
    /* background-color: aqua; */
}
.first{
    background-color: yellow;
}
.second{
    background-color: red;
}
.third{
    background-color: pink;
}
.fourth{
    background-color: skyblue;
}